* {
  margin: 0;
  padding: 0;
}

.wrapper p {
  text-align: center;
  line-height: 30px;
  width: 100px;
  height: 30px;
  background: lightpink;
  opacity: 0.8;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.wrapper {
  width: 550px;
  height: 250px;
  border: 1px solid black;
  margin-left: 300px;
  margin-top: 45px;
}

.wrapper p a {
  display: block;
  text-decoration: none;
  color: black;
}

.wrapper p a:hover {
  color: grey;
}

.content {
  margin-top: 250px;
}

.is-login {
  color: red;
  background: #fff;
  font-size: 14px;
}

.is-login-content {
  margin-top: 20px;
  margin-left: 170px;
}

button {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
  margin-left: 240px;
}

.is-logout {
  background: lightcoral;
  text-align: center;
}

.title-wrapper {
  display: -webkit-box;
  width: 100%;
}

.title-wrapper div {
  width: 0;
  -webkit-box-flex: 1;
  text-align: center;
}

button.girl,
button.boy,
button.all {
  width: 100px;
  height: 20px;
  border: 1px solid grey;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: 10px;
}

.todolist-li {
  list-style: none;
}

.todolist-li button {
  width: 50px;
  height: 20px;
  line-height: 20px;
  margin-left: 20px; 
  text-align: center;
  margin-top: 0;
}


